body{
    font-family: 'Raleway', sans-serif;
    height: 800px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none; 
}
.animateborder{
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.animateborder::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #4CD49B;
    transition: width .3s;
}

.animateborder:hover::after {
    width: 100%;
    //transition: width .3s;
}

.navbar{
    color: white; 
    margin: 0 auto;
    max-width: 350px;
}

.navbar li{
    display: inline-block; 
    font-size: 13px;
    color: #4CD49B;
    padding: 5px;
}


.logo{
    max-width: 150px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
}

.landingcontent{
    text-align: center; 
    padding-top: 150px;
}

h1{
    color: #2E2E2E;
    line-height: 0px;
    margin-bottom: 0px;
}

p{
    color: #2E2E2E;
}

.txt-rotate{
    color: #4CD49B;
}

.button{
    background-color: #4CD49B;
    max-width: 100px;
    border-radius: 20px;
    line-height: 30px;
    color: white; 
    font-size: 14px;
    font-weight: 800;
    margin: 0 auto; 
}

.coder{
    padding-top: 155px;
    
}

.logo{
    font-family: 'Roboto', sans-serif;
    color: #2E2E2E;
    font-weight: 800;
}

.moemin{
    color: #4CD49B;
}




/* -------------Second page---------------*/    

.secondpage{
    height: 1950px;
    background: url(images/bg.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h2{
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    color: #2E2E2E;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 50px;
}

.projectimages{
    display: grid;
    grid-template-columns: 1fr; 
    grid-gap: 20px;
    max-width: 80%;
    margin: 0 auto; 
}
    
.container .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}
    
/* -------------Second page---------------*/     


/* -------------Third page---------------*/   

.thirdpage{
    height: 700px;
}

h4{
    padding-top: 20px;
    color: #343434;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
}

.skills{
    max-width: 300px;
    margin: 0 auto; 
    text-align: center;
}

h5{
    margin-bottom: 5px;
    color: #343434;
}

.html{
    background-color: #4CD49B;
    max-width: 200px;
    height: 5px;
    border-radius: 50px;
    margin: 0 auto; 
    
}

.css{
    background-color: #4CD49B;
    max-width: 190px;
    height: 5px;
    border-radius: 50px;
    margin: 0 auto;
}


.js{
    background-color: #4CD49B;
    max-width: 180px;
    height: 5px;
    border-radius: 50px;
    margin: 0 auto;
}

.jquery{
    background-color: #4CD49B;
    max-width: 180px;
    height: 5px;
    border-radius: 50px;
    margin: 0 auto;
}

.nodejs{
    background-color: #4CD49B;
    max-width: 90px;
    height: 5px;
    border-radius: 50px;
    margin: 0 auto;
}

.express{
    background-color: #4CD49B;
    max-width: 90px;
    height: 5px;
    border-radius: 50px;
    margin: 0 auto;
}

.websiteimg{
    max-width: 350px;
}

.websitediv{
    max-width: 350px;
    margin: 0 auto; 
    padding-top: 50px;
}

/* -------------Fourth page---------------*/



.fourthpage{
    height: 400px; 
}

.social{
    width: 50px;
    padding-left: 20px;
}

.social:hover{
    transform:scale(1.2);
}

.socialicons{
    margin: 0 auto;
    max-width: 320px;
}

h6{
    font-size: 30px;
    text-transform: uppercase;
    color: #343434;
    text-align: center; 
    padding-top: 50px;
    margin-bottom: 0;
    line-height: 0;
}

.contactp{
    text-align: center; 
    font-family: 'Courgette', cursive;
}

.footer{
    text-align: center; 
    font-family: 'Roboto', sans-serif;
    padding-bottom: 5px;
    font-size: 12px;
    font-weight: 800;
}

@media only screen and (min-width: 1080px){
    body{
        height: 1000px;
    }
    
    .logo{
        position: absolute; 
        left: 150px;
        max-width: 400px;
        font-size: 20px;
    }
    
    .navbar{
        float: right;
        padding-right: 150px;
        max-width: 500px;
    }
    
    .navbar-shadow{
        box-shadow: 0px 0px 10px #CFCFCF;
        height: 60px;
    }
    
    .navbar li{
        font-size: 14px;
        font-weight: 600;
        margin-left: 30px;
    }
    
    .landingcontent{
        padding-top: 250px;
        font-size: 30px;
    }
    
    .coder{
        padding-top: 206px;
    }
    
    .secondpage{
        height: 1200px;
    }
    
    .projectimages{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        width: 60%;
        margin: 0 auto; 
    }
    
    .thirdpage{
        display: grid; 
        grid-template-columns: 1fr 1fr; 
    }
    
    h4{
      margin-left: 150px;  
    }
    
    .skills{
        margin-left: 160px;
    }
    
    .websiteimg{
        max-width: 700px;
    }
    
    .websitediv{
        margin-left: 150px;
    }
    
}
